<div class="container">
    <h2>Login Form</h2>
    <form [formGroup]="currentUser" (ngSubmit)="handleSubmit()">
        <div class="mb-3">
            <label for="" class="form-label">Email</label>
            <input type="text" class="form-control" formControlName="email" required="">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Password</label>
            <input type="password" class="form-control" formControlName="password" required="">
        </div>
        <p>Do you have an account? <a routerLink="/auth/register">Sign Up</a></p>
        <input type="submit" value="Login">
    </form>
</div>  