
<h1 class="text-center">List Products</h1>
<input type="text" [(ngModel)]="searchValue" placeholder="Searching item... " class="form-control my-4">

<button class="btn btn-secondary" routerLink="/admin/products/add">ADD NEW</button>
<table class="table text-center">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Image</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products| searchBox : searchValue; index as i">
            <td>{{ i + 1}}</td>
            <td>{{ product.name}}</td>
            <td>{{ product.price}}</td>
            <td>{{ product.quantity}}</td>
            <td><img [src]="product.image" alt=""></td>
            <td>
                <button class="btn btn-danger mx-4" (click)="handleClick(product.id!)">Remove</button>
                <button class="btn btn-secondary" routerLink="/admin/products/{{product.id}}/edit">Update</button>
            </td>
        </tr>
    </tbody>
</table>
<div id="cartPopup" class="cart-popup"></div>
